# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Popular languages among Data Scientists
* Commonly used libraries by data scientists
* A table of popular data science tools
* Arithmetic Expressions python can calculate

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

| Data Science Tools | 
| -------------      |
| Apache Spark       |      
| TensorFlow         |  
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
q = 40 // 9
mod = 40 % 9
print(q, mod)

r = 80 // 7
mog = 80 % 7
print(r, mog)

4 4
11 3

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

## Author
Kai Ito